[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
streamlit = "*"
pandas = "*"
python-dotenv = "*"
nest-asyncio = "*"
langchain = "*"
multion = "*"
newspaper3k = "*"
llama-hub = "*"
pre-commit = "*"
black = "*"
tavily-python = "*"
selenium = "*"
pydub = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
moviepy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9.18"
